/* Colours used:
 * #2c82c9 blue for background
 * #246CA6 darker blue for text
 */

* {
  padding: 0;
  margin: 0;
  font-family: Noto Sans, sans-serif;
}

body {
  background-color: #2c82c9;
}

.title {
  margin-top: 1em;
  text-align: center;
  color: white;
}

.map-and-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  margin: 4em 12em;
}

.map-container {
  flex-grow: 1;

  z-index: 0;
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  height: 600px;

  border: 2px solid #ccc; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emergency-report {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 4em 6em;
  margin: 4em 12em;

  box-sizing: border-box;
  height: 600px;

  border-radius: 0.8em; 

  font-weight: bold;
  color: #246CA6;
  background-color: white;
}

.form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns of equal width */
  grid-template-rows: repeat(3, auto);  /* 2 rows with height determined by content */
  gap: 1em;
}

.emergency-report h2 {
  padding-bottom: 1em;
  color: black;
}

.emergency-report label {
  width: 200px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
  box-sizing: border-box; 
}

.form-input {
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 2;
}

#comments {
  height: 100px;
}

#submit {
  flex-grow: 0;
  align-self: flex-end;

  margin-top: 2em;
  padding: 1em 2em;

  border-style: none;
  border-radius: 1em;

  font: inherit;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #2c82c9;
  cursor: pointer;
}

#submit:hover {
  background-color: #0b4472;
}

.list {
  margin: 4em 12em;
  border-radius: 1em;
  background-color: white;
  height: fit-content;
  overflow: hidden;
}

.emergencies {
  display: grid;
  color: #246CA6;
  list-style: none;
}

.list-filter {
  font-weight: bold;
  border: none;
  background-color: white;
  text-align: left;
}

.list-filter-label {
  font-size: small;
  font-weight: bold;
  border: none;
  background-color: white;
  text-align: left;
}

.emergency-item {
  border-top: 1px solid #999;
}

.emergency-item, .list-filter-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.emergencies li, .list-filter-container {
  padding: 1em;
  background-color: white;
}

.emergency-id {
  display: none;
}

.list-button {
  border: none;
  border-radius: 0.8em;
  background-color: #2c82c9;
  color: white;
  cursor: pointer;
  padding: 1em;
}

.list-button:hover {
  background-color: #0b4472;
  color: white;
}

@media (max-width: 1600px) {
  .map-and-form-container {
    flex-direction: column;
    gap: 2em;
    margin-bottom: 0;
  }

  .emergency-report {
    margin: 4em;
  }

  .list {
    margin: 2em 4em;
  }
}

@media (max-width: 1000px) {
  .map-container {
    width: 580px;
  }

  .emergency-report {
    padding: 3em;
    height: unset;
  }

  .form-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .form-content {
    display: flex;
    flex-direction: row;
  }

  .emergency-item, .list-filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .list-button {
    padding: 0;
  }
}

@media (max-width: 620px) {
  .map-container {
    max-width: 90vw;
    margin: 0 1em;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0;
  top: 0;
  z-index: 99;
  padding: 1.5em 12em;
  border-bottom: 8px solid #0b4472;
  border-top: 8px solid #0b4472;
}

#header h2 {
  color: white;
  -webkit-text-stroke: 1px black;
  font-size:32px;
  color: white;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#header a {
  font-size: larger;
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#header a:hover {
  color: gray;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 2em 4em;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-bottom: 0.8em;
  font-size: large;
}

.modal input {
  width: 20em;
  line-height: 2;
}

.modal-actions {
  margin-top: 10px;
  display: flex;
  gap: 1em;
  justify-content: end;
}

.modal-actions button {
  margin-top: 0.8em;
  padding: 0.5em 1em;
  width: 90px;

  border-style: none;
  border-radius: 0.5em;

  text-align: center;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
}

#modal-cancel {
  border: 2px solid #0b4472;
  background-color: white;
  color: #0b4472;
}

#modal-submit {
  color: white;
  background-color: #2c82c9;
}

#modal-cancel:hover {
  color: white;
  background-color: #0b4472;
}

#modal-submit:hover {
  background-color: #0b4472;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}

.success-message {
  color: green;
  margin-top: 10px;
  font-size: 0.9em;
}

.emergency-image {
  display: block; 
  max-width: 100%; 
  margin: 0 auto 10px; 
  border-radius: 8px; 
}

.emergency-text {
  line-height: 2;
  text-align: left; 
  margin: 0 auto;
  max-width: 400px; 
  background-color: white;
  border-radius: 15px;
  padding: 1em;
  color: #246CA6;
}

.emergency-details {
  box-sizing: border-box;
  text-align: center; 
  margin: 20px auto;
  max-height: 880px;
  min-width: 220px;
}
